@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --defaut-layout-header-height: 60px;
    --defaut-layout-horizontal-spacing: 24px;
    --defaut-layout-width: 1150px;
    --black: #000;
    --text-color: #161823;
    --white-color: #fff;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'ProximaNova', sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
//Fonts

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}

// Custom tippy
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 0.8rem;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 0.8rem 0.9rem;
    }
}
