.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-height: 1000px;
    display: flex;
    padding: 0 var(--defaut-layout-horizontal-spacing);
    margin-top: var(--defaut-layout-header-height);
}

.content {
    flex: 1;
    min-height: 100%;
}
