.menu-item {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .icon-active {
            display: flex;
        }
    }
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-left: 0.8rem;
}

.icon,
.icon-active {
    display: flex;
}
.icon-active {
    display: none;
}
